

<!-- <form class="ui large form segment">
  <h3 class="ui header">Add a link</h3>

  <div class="field">
    <label for="title">Title</label>
    <input name="title" #newtitle>
  </div>
  <div class="field">
    <label for="link">Link</label>
    <input name="link" #newlink>
  </div>

  <button (click)="AddArticle(newtitle, newlink)"
  class="ui positive right floated button">
  submit link
  </button>
</form> -->

<!-- app.component.html -->

<div class="form-container">
  <form class="ui large form segment">
    <h3 class="ui header">Add a link</h3>

    <div class="field">
      <label for="title">Title</label>
      <input name="title" #newtitle>
    </div>
    <div class="field">
      <label for="link">Link</label>
      <input name="link" #newlink>
    </div>

    <button (click)="AddArticle(newtitle, newlink)" class="submit-button">
      Submit Link
    </button>
  </form>
</div>

